<!--
<p>
  Secretary works !
  Infirmiers :
</p>

<ul>
  <li *ngFor="let inf of getInfirmiers()">
    <app-infirmier [data]="inf"></app-infirmier>{{ inf | json }}
    <ul>
      <li *ngFor = "let pat of inf.patients">
        <app-patient [data]="pat"></app-patient>{{ pat | json }}
      </li>
    </ul>
</ul>
---------------------------------------------------------------------------------------------------------------------------
<section class="nurse"
         *ngFor="let nurse of getInfirmiers()"
         alx-dropzone (alx-ondrop)="assign($event, nurse)" >
</section>
-------------------------------------------------------------<br/> -->
<h1>CABINET MEDICAL</h1>

<h2>AJOUT D'UN PATIENT :</h2>

<form (ngSubmit)="creatPatient(nom.value, prenom.value,numsec.value, sexe.value, dateNaiss.value, etage.value, numero.value, rue.value, cp.value, ville.value)">
    <label>Nom : </label><input type="text" name="nom" #nom>
    <label>Prénom :</label> <input type="text" name="prenom" #prenom>
    <label>Numéro de sécurité sociale :</label> <input type="text" name="numsec" #numsec>
    <label>Sexe :</label><br/><br/>
    <label>M :</label><input type="radio" name="sexe" value="M" checked #sexe>
    <label>F :</label><input type="radio" name="sexe" value="F" #sexe>
    <label>Date de naissance :</label> <input type="text" name="dateNaiss" #dateNaiss>
    <label>Etage :</label> <input type="text" name="etage" #etage>
    <label>Numéro :</label> <input type="text" name="numero" #numero>
    <label>Rue :</label> <input type="text" name="rue" #rue>
    <label>CodePostal :</label> <input type="number" name="cp" #cp>
    <label>Ville :</label> <input type="text" name="ville" #ville>
    <input type="submit">
</form>


<br/>
<h2>AFFECTATION D'UN PATIENT :</h2>
<br/>

<form (ngSubmit)="affectPatient(inf.value, pat.value)">
  <strong><label>Patient :</label></strong>
  <br/>
  <select #pat>
    <option *ngFor="let pat of getPatientsNonAffectes()" value ="{{ pat.numeroSecuriteSociale }}"> {{ pat.nom }}</option>
  </select>

  <strong><label>Infirmier :</label></strong>
  <select #inf>
    <option *ngFor="let inf of getInfirmiers()" value ="{{ inf.id }}" > {{ inf.nom }} </option>
  </select>
  <input type="submit">
</form>

<br/>

<h2>DESAFFECTATION D'UN PATIENT :</h2>
<br/>
<label>Patient :</label><br/>

<form (ngSubmit)="desaffectPatient(pat.value)">
  <select #pat>
    <option *ngFor="let pat of getPatientsAffectes()" value ="{{ pat.numeroSecuriteSociale }}"> {{ pat.nom }}</option>
  </select>
  <input type="submit">
</form>

<!--
<h2>MAP :</h2>
<agm-map [latitude]="getCabinetLat()" [longitude]="getCabinetLng()" (mapReady)="mapReady($event)">
  <agm-marker [latitude]  = "getCabinetLat()"
              [longitude] = "getCabinetLng()"
              iconUrl    = "/data/hospital-icon.png"
  >
  </agm-marker>

  <agm-marker *ngFor      = "let nurse of getInfirmiers()"
              [latitude]  = "nurse.adresse.lat"
              [longitude] = "nurse.adresse.lng"
              iconUrl    = "https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/48x48/shadow/nurse.png"
  >
  </agm-marker>

  <agm-marker *ngFor      = "let patient of get()"
              [latitude]  = "patient.adresse.lat"
              [longitude] = "patient.adresse.lng">
  </agm-marker>
</agm-map>
-->
